.clearme{clear:both;}

body{font-family: "helvetica neue",arial,sans-serif;}
body,html{padding:0;margin:0;}

.center,.left,.right{
	position:absolute;
	top:0;
	height:416px;
	min-height:416px;
	overflow-y:auto;
	-webkit-overflow-scrolling: touch;
	overflow-x:hidden;
}

.center,.left{
	left:0;
}

.left,.right{
	background:#32394a;
    color:#c4ccda;
    width:160px;
}

.left {
	z-index:1;

}
.right {
    z-index:2;
    right:0;
    float:right;
}
.center {
    z-index:3;
    background:#FFF;
    color:#333;
    width:100%;
    padding:2px;
    word-wrap:break-word;
}



.clear {
    clear:both;
}
.container{
	position:relative;
	height:416px;
	min-height:360px;
	width:100%;
	overflow:hidden;
}


.centerIsle {
    text-align:center;
    font-weight:bold;
}

h1 {
	font-size: 110%;
	color: #000;
	font-weight:bolder;
	margin: 8px 5px 0 5px;
}

h2 {
	font-size: 95%;
	color: #000;
	font-weight:bolder;
	margin: 8px 5px 0 5px;
	padding-left:5px;
}

h3 {
	font-size: 85%;
	color: #000;
	font-weight:bolder;
	margin: 8px 5px 0 5px;
	
	padding:3px;
	padding-left:10px;
}

.main_nav , .login-form-list{
	font-size: 80%;
	list-style:none;
	padding:0;
	/* margin-left:5px; */
	/*margin-top:1px;
	border-top: 1px solid #BCBEC0;	*/
	/* padding:5px; */
	/* padding-left:15px; */
	
	

	
}
.main_nav {
	border-top: 1px solid #555;
}
.main_nav li, .login-form-list li{
	/* padding-left:3px; */
	/* margin-left:3px; */
	/* margin-top:3px;	*/
		padding:0;
		margin:0;
		line-height:18px;

}
.main_nav li a, .login-form-list li a{
	border-bottom: 1px solid #555;

	display: block;
	padding: 2px 5px;
	
	text-decoration: none;
	font-size: 16px;
	font-weight:bold;
	color:#c4ccda;
	
}


.centered{
	width:100%;
	text-align:center;
	
}

.login-form-list{
    padding:0 5px;
}

footer {
clear: both;
min-height: 10px;
width: 100%;
background-color: #3C454F;
position: fixed;
bottom: 0;
color: #DDD;
z-index:50;
}

footer a{color:#FFF;}

/* for larger than 350px: */

@media only screen and (min-width: 480px) {
    .container,.center,.left,.right{
        height:480px;
    }
}
